# Apresentações
apresentacoes/

# Trabalho: ignore tudo exceto TRABALHO.md e image.png
!/trabalho/TRABALHO.md
!/trabalho/image.png

# DEMO_1: não versionar estes scripts de demonstração
/aula_02/DEMO_1/offset_demo.py
/aula_02/DEMO_1/consumer_group_demo.py

# macOS
.DS_Store

# Ambientes conda locais
*.egg-info/
__pycache__/
*.pyc

# Artefatos locais das demos
aula_05/demo_00_cqrs_checkout/*.db

# Logs das demos
aula_03/**/*.log
